header {
    margin: 0 auto;
    max-width: 1240px;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;

    ul {
        list-style-type: none;
        display: flex;
        gap: 40px;
        padding: 0;
    }

    li {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 560px) {
    header {
        img {
            width: 145px;
        }

        ul {
            text-transform: uppercase;
            font-size: 12px;
            gap: 20px;
        }
    }
}